{% extends 'base.html' %}

{% block title %}

<style>
    form{
        text-align: center;
    }
</style>


<form action="#" method="post">
    <div class="input-group mb-3">
        <p><input type="text" class="form-control" class="d-flex justify-content-between" placeholder="Enter Product Here" name="product" aria-describedby="button-addon2"></p>
        <div class="input-group-append">     
        <p><input class="btn btn-dark" class="d-flex justify-content-between" type="submit" value="submit"></input></p>
    </div>
    </div>
</form>
{% endblock %}
